.footer
    .footer-section
        .copyright
            .copyright__title
                | © СП ООО «Asia Trade», 2018
            .copyright__description
                | Сеть Гостиниц «Азия» в 5-ти городах Узбекистана: 
                br
                | Ташкент, Самарканд, Бухара, Хива, Фергана
        .korden
            .korden__logo
            .korden__text
                | Создание сайтов в Ташкенте
            a.korden__link(href="http://korden.uz")