.mobile-footer-fixed
    .container
        .fixed-menu
            .fixed-menuItem
                .fixed-menuItem__link
                    i.fa.fa-home
                    | главная
            .fixed-menuItem
                .fixed-menuItem__link.fix-burger
                    span.burger
                    | меню
.mobile-fix-dropdown
    .container
        .main-menu
            ul
                li.dropdown
                    a(href="#") О компании
                    ul.sub-menu
                        li
                            a(href="#") О сети гостиниц
                        li
                            a(href="#") Турагентство
                li.dropdown
                    a(href="#") Гостиницы
                    ul.sub-menu
                        li.dropdown
                            a(href="#") Asia Ташкент
                            ul.sub-menu
                                li
                                    a(href="#") О гостинице
                                li
                                    a(href="#") Номерной фонд
                                li
                                    a(href="#") Ресторан и бар
                                li
                                    a(href="#") Конференсии и суминары
                                li
                                    a(href="#") Бассейн и сауна
                                li
                                    a(href="#") Фотогалерея
                                li
                                    a(href="#") Правила отеля
                        li.dropdown
                            a(href="#") Asia Самарканд
                            ul.sub-menu
                                li
                                    a(href="#") О гостинице
                                li
                                    a(href="#") Номерной фонд
                                li
                                    a(href="#") Ресторан и бар
                                li
                                    a(href="#") Конференсии и суминары
                                li
                                    a(href="#") Бассейн и сауна
                                li
                                    a(href="#") Фотогалерея
                                li
                                    a(href="#") Правила отеля
                        li.dropdown
                            a(href="#") Asia Бухара
                            ul.sub-menu
                                li
                                    a(href="#") О гостинице
                                li
                                    a(href="#") Номерной фонд
                                li
                                    a(href="#") Ресторан и бар
                                li
                                    a(href="#") Конференсии и суминары
                                li
                                    a(href="#") Бассейн и сауна
                                li
                                    a(href="#") Фотогалерея
                                li
                                    a(href="#") Правила отеля
                        li.dropdown
                            a(href="#") Asia Фергана
                            ul.sub-menu
                                li
                                    a(href="#") О гостинице
                                li
                                    a(href="#") Номерной фонд
                                li
                                    a(href="#") Ресторан и бар
                                li
                                    a(href="#") Конференсии и суминары
                                li
                                    a(href="#") Бассейн и сауна
                                li
                                    a(href="#") Фотогалерея
                                li
                                    a(href="#") Правила отеля
                        li.dropdown
                            a(href="#") Asia Хива
                            ul.sub-menu
                                li
                                    a(href="#") О гостинице
                                li
                                    a(href="#") Номерной фонд
                                li
                                    a(href="#") Ресторан и бар
                                li
                                    a(href="#") Конференсии и суминары
                                li
                                    a(href="#") Бассейн и сауна
                                li
                                    a(href="#") Фотогалерея
                                li
                                    a(href="#") Правила отеля
                li.dropdown
                    a(href=defaultLink) Пресс-центр
                    ul.sub-menu
                        li
                            a(href="#") Спецпредложения
                        li
                            a(href="#") мероприятия и события
                        li
                            a(href="#") отзывы
                li.dropdown
                    a(href=defaultLink) Контакты
                    ul.sub-menu
                        li
                            a(href="#") свяжитесь с нами
                        li
                            a(href="#") забронировать номер