.page-title-wrap
    .container
        .burger-section
            a.burger-btn(href=".page-modal-menu")
                span(data-text="Закрыть") Меню
        .page-title
            | #{title}
    .page-modal-menu
        ul.modal-menu
            li.modal-menuItem
                a.modal-menuItem__link(href="about.html")
                    | О компании
                ul.sub-menu
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | О сети гостиниц
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | Турагентство
            li.modal-menuItem
                a.modal-menuItem__link(href="about.html")
                    | Гостиницы
                ul.sub-menu
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | ASIA ТАШКЕНТ
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | ASIA САМАРКАНД
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | ASIA БУХАРА
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | ASIA ХИВА
                    li.sub-menuItem
                        a.sub-menuItem__link(href="about.html")
                            | ASIA ФЕРГАНА
            li.modal-menuItem
                a.modal-menuItem__link(href="#")
                    | Пресс-центр
                ul.sub-menu
                    li.sub-menuItem
                        a.sub-menuItem__link(href="#")
                            | Спецпредложения
                    li.sub-menuItem
                        a.sub-menuItem__link(href="#")
                            | мероприятия и события
                    li.sub-menuItem
                        a.sub-menuItem__link(href="#")
                            | отзывы
            li.modal-menuItem
                a.modal-menuItem__link(href="#")
                    | О компании
                ul.sub-menu
                    li.sub-menuItem
                        a.sub-menuItem__link(href="#")
                            | свяжитесь с нами
                    li.sub-menuItem
                        a.sub-menuItem__link(href="rooms.html")
                            | забронировать номер