extends pug/base

append vars
    - title = 'О сети гостиниц'
    - body.classList = ['inner-page']
block content
    - var defaultLink = 'javascript:void(0);'
    include pug/partials/header
    .i-container
        .i-main
            include pug/partials/page-title
            .inner-content.container
                .content.no-side
                    .default-section
                        img(src="images/page-image.png", alt="")
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                        h1
                            | Заголовок H1. 
                            br
                            | Пример заголовка в две строки
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                        p
                            strong Абзац!
                            |  Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                        h2
                            | Заголовок H2. 
                            br
                            | Пример заголовка в две строки
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                        h3
                            | Заголовок H3. 
                            br
                            | Пример заголовка в две строки
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                        ul
                            li Оформление маркировки текста
                            li Оформление маркировки текста
                            li Оформление маркировки текста
                            li Оформление маркировки текста
                        p
                            | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                        b Пример оформления жирности шрифта на сайте
                        br
                        i Пример оформления курсива шрифта на сайте
                        br
                        u Пример оформления подчеркивания шрифта на сайте
                        br
                        a(href='#') Пример оформления ссылки на сайте
                        br
                        a.hover(href='#') Пример оформления ссылки на сайте при наведение
                        br
                        h4
                            | Заголовок H4. 
                            br
                            | Пример заголовка в две строки
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                        h5
                            | Заголовок H5. 
                            br
                            | Пример заголовка в две строки
                        p
                            | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
                        table
                            tr
                                th
                                    | Заголовок таблицы H5
                                th
                                    | Заголовок таблицы H5
                                th
                                    | Заголовок таблицы H5
                            tr
                                td Образец наполнения полей
                                td Образец наполнения полей
                                td Образец наполнения полей
                            tr
                                td
                                    | Образец наполнения полей. 
                                    br
                                    | Образец в две и более строк
                                td
                                    | Образец наполнения полей. 
                                    br
                                    | Образец в две и более строк
                                td
                                    | Образец наполнения полей. 
                                    br
                                    | Образец в две и более строк
                    .section-line
                    .hotels
                        .hotelsItem
                            .hotelsItem__image(style="background-image: url(images/asia-tashkent.png);")
                            .hotelsItem__text ASIA Ташкент
                        .hotelsItem
                            .hotelsItem__image(style="background-image: url(images/asia-tashkent.png);")
                            .hotelsItem__text ASIA Самарканд
                        .hotelsItem
                            .hotelsItem__image(style="background-image: url(images/asia-tashkent.png);")
                            .hotelsItem__text ASIA Бухара
                        .hotelsItem
                            .hotelsItem__image(style="background-image: url(images/asia-tashkent.png);")
                            .hotelsItem__text ASIA Хива
                        .hotelsItem
                            .hotelsItem__image(style="background-image: url(images/asia-tashkent.png);")
                            .hotelsItem__text ASIA Фергана
                    include pug/partials/footer
    .page-mask.mask-top
    .page-mask.mask-bottom

