<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title For testing
    body

    ul
        li
            a(href="/index.html") 01_01_главная
        li
            a(href="/booking.html") 01_03_Забронировать номер
        li
            a(href="/booking-error.html") 01_05_забронировать номер_ошибка при заполнении
        li
            a(href="/about.html") 02_01_о гостинице
        li
            a(href="/rooms.html") 03_01_номерной фонд
        li
            a(href="/room-single.html") 03_02_карточка номера
        li
            a(href="/room-single-no-room.html") 03_03_карточка номера_нет свободных номеров
        li
            a(href="/booking-room.html") 03_05_забронировать номер
        li
            a(href="/booking-room-error.html") 03_07_забронировать номер_ошибка при заполнении
        li
            a(href="/bars.html") 04_01_Ресторан и бар
        li
            a(href="/bars-single.html") 04_02_Описание ресторана
        li
            a(href="/halls.html") 05_01_Конференции и семинары
        li
            a(href="/halls-single.html") 05_02_Описание зала
        li
            a(href="/bassein.html") 06_01_Бассейн и сауна
        li
            a(href="/bassein-single.html") 06_02_Название процедура
        li
            a(href="/gallery.html") 07_01_Фотогалерея
        li
            a(href="/gallery-single.html") 07_02_Фотогалерея
        li
            a(href="/regulation.html") 08_01_правила отеля
        li
            a(href="/hotel.html") 09_01_о сети гостиниц
        li
            a(href="/tour.html") 09_02_Турагентсво
        li
            a(href="/tour-single.html") 09_03_Описание тура
        li
            a(href="/offer.html") 09_04_Спецпредложения
        li
            a(href="/offer-single.html") 09_05_Карточка спецпредложения
        li
            a(href="/events.html") 09_06_мероприятия и события
        li
            a(href="/events-single.html") 09_07_карточка мероприятия и события
        li
            a(href="/testimonials.html") 09_08_Отзывы
        li
            a(href="/contacts.html") 09_09_Контакты
        li
            a(href="/contacts-error.html") 09_10_Ошибка
        li
            a(href="/contacts-success.html") 09_11_Заявка отправлена
            