@keyframes rotateCubeTopOut {
    50% {
      animation-timing-function: ease-out;
      transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    }
  
    100% {
      transform: translateY(-100%) rotateX(90deg);
    }
  
  }
  
  
  @keyframes rotateCubeTopIn {
    0% {
      transform: translateY(100%) rotateX(-90deg);
    }
  
    50% {
      animation-timing-function: ease-out;
      transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    }
  }
  
  @keyframes rotateCubeBottomOut {
    50% {
      animation-timing-function: ease-out;
      transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    }
  
    100% {
      transform: translateY(100%) rotateX(-90deg);
    }
  }
  
  @keyframes rotateCubeBottomIn {
    0% {
      transform: translateY(-100%) rotateX(90deg);
    }
  
    50% {
      animation-timing-function: ease-out;
      transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    }
  }
  @keyframes myBounce {
    0% {
      transform: translateY(0%);
      visibility: visible;
    }
    100% {
      transform: translateY(100%);
    }
  }