@font-face {
    font-family: 'Pf Din Text Comp Pro Thin';
    src: url('../fonts/PFDinTextCompPro-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro ThinItal';
    src: url('../fonts/PFDinTextCompPro-ThinItal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro Light';
    src: url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro LightItal';
    src: url('../fonts/PFDinTextCompPro-LightItal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro Italic';
    src: url('../fonts/PFDinTextCompPro-RegularItal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro Medium';
    src: url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro MediumItal';
    src: url('../fonts/PFDinTextCompPro-MediumItal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro Bold';
    src: url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro XBlack';
    src: url('../fonts/PFDinTextCompPro-XBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Pf Din Text Comp Pro BoldItal';
    src: url('../fonts/PFDinTextCompPro-BoldItal.ttf') format('truetype');
}