// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-home-header: #9d8d78;
$color-home-header-hover: #f9eeca;
$color-home: #ffe9a0;
$color-menu-hover: #faefcb;
$color-inner-bg: #f5f0e3;
$color-inner-header-bg: #7a706d;
$color-side-hover: #120f0e;
$color-default: #6d625e;
$color-other-content: #fdf9ec;
$color-error: #dc0b10;
$color-fix: #7a706d;

// FONTS

$font-pf-din-text-comp-pro: 'Pf Din Text Comp Pro';
$font-pf-din-text-comp-pro-italic: 'Pf Din Text Comp Pro Italic';
$font-pf-din-text-comp-pro-bold: 'Pf Din Text Comp Pro Bold';
$font-pf-din-text-comp-pro-xblack: 'Pf Din Text Comp Pro XBlack';
$font-pf-din-text-comp-pro-thin: 'Pf Din Text Comp Pro Thin';
$font-pf-din-text-comp-pro-light: 'Pf Din Text Comp Pro Light';
$font-pf-din-text-comp-pro-medium: 'Pf Din Text Comp Pro Medium';
